@import "_mixins.scss";

.container {
    max-width: 100%;
}

.container {
    max-width: 100%;
    padding: 0;
}

body {
    background: #F8F8F8;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.menu {
    position: sticky;
    padding: 13px 60px;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 13px 16px 13px 0;

    &_link {
        color: black;
        @include font-style-nunito(#000000, 16px, center);
        vertical-align: sub;
        text-decoration: none;
    }

    &_button {
        @include yellow-button();
    }
}

.subheader {
    min-height: 500px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/subheader_image.jpeg") center center/cover no-repeat;

    h1 {
        display: block;
        @include font-style-nunito(#FFFFFF, 40px, center);
        margin: 0 auto;
        width: $sm-width;
        padding-top: 40px;
        line-height: 40px;
    }

    &_additional {
        display: block;
        @include font-style-nunito(#FFFFFF, 16px, center);
        margin: 21px auto 0 auto;
        width: $sm-width;
        line-height: 26px;

    }

    &_button {
        cursor: pointer;
        padding-top: 50px;
        margin: 32px auto;
        padding-top: 4px;
        @include yellow-button();
    }
}

.getskills {
    padding-top: 140px;
    padding-left: 16px;
    padding-right: 16px;

    .users_list {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;

        .userCard {
            width: 328px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
            margin-top: 20px;
            @include font-style-nunito(#000000, 16px, center);

            &_avatar {
                border-radius: 50%;
                margin: 0 auto;
                margin-top: 20px;
            }

            &_name {
                margin-top: 20px;
                text-align: center;
            }


            &_additional {
                margin-top: 20px;
                text-align: center;
                overflow: hidden;
            }

            .tooltip {
                cursor: pointer;
            }

            .tooltip .tooltiptext {
                visibility: hidden;
                background: rgba(0, 0, 0, 0.87);
                color: #fff;
                text-align: center;
                border-radius: 4px;
                padding: 5px 5px;
                max-width: 50%;
                line-break: anywhere;
                position: absolute;
                z-index: 1;
            }

            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
        }
    }

    .add_more_btn {
        cursor: pointer;
        padding-top: 4px;
        margin: 50px auto 0 auto;
        @include yellow-button();
    }
}

.postskills {
    min-height: 740px;
    padding: 140px 0 100px 0;

    form {
        width: 328px;
        margin: 0 auto;
        background-color: #F8F8F8;
        padding-left: 16px;
        padding-right: 16px;
    
    
        .phone_help {
            @include font-style-nunito(#7E7E7E, 12px, left);
            text-align: left;
            padding-left: 16px;
        }
    
        .radiogroup {
            margin: 25px auto 0 auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            @include font-style-nunito(#000000, 16px, center);
            text-align: start;
            border-color: red;
        }
    
        input[type="radio"]:checked {
            background: $secondary;
        }
    
        .round {
            border: 1px solid $background;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            margin-right: 5px;
        }
    
        input[type="radio"] {
            appearance: none;
            outline: none;
            position: relative;
            border-radius: 50%;
            width: 9px;
            height: 9px;
            left: 5px;
            bottom: 4px;
            margin: 0;
        }
    
    
    
        .radioButton {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    
    
        .yellowBtn {
            cursor: pointer;
            padding-top: 4px;
            margin: 50px auto 0 auto;
            @include yellow-button();
            border: none;
        }
    
        .disabled {
            background: #B4B4B4;
            border-radius: 80px;
        }
    
    
        .material-textfield {
            position: relative;
        }
    
    
        .error {
            border: 2px solid $red;
        }
    
        .text_label {
            position: absolute;
            top: 30%;
            background-color: #F8F8F8;
            @include font-style-nunito(#7E7E7E, 16px, center);
            line-height: 20px;
            margin-left: 20px;
            transition: .1s ease-out;
            transform-origin: left top;
            pointer-events: none;
            display: block;
        }
    
        input[type="text"],
        input[type="phone"],
        input[type="email"] {
            outline: none;
            border: 1px solid #D0CFCF;
            margin: 50px auto 0 auto;
            padding-left: 20px;
            border-radius: 5px;
            transition: 0.1s ease-out;
            width: 304px;
            height: 50px;
            @include font-style-nunito(#000000, 16px, start);
            display: block;
            background-color: #F8F8F8;
        }
    
    
        input[type="text"]:focus+label,
        input[type="phone"]:focus+label,
        input[type="email"]:focus+label {
            top: 0%;
            transform: translateY(-60%) scale(.9);
        }
    
        input[type="text"]:not(:placeholder-shown)+label,
        input[type="phone"]:not(:placeholder-shown)+label,
        input[type="email"]:not(:placeholder-shown)+label {
            top: 0%;
            transform: translateY(-60%) scale(.9);
        }
    
        .ph {
            top: 20%;
        }
    
        .input_error {
            @include font-style-nunito($red, 12px, start);
            line-height: 14px;
            padding-left: 16px;
        }
    
    
        input[type=file] {
            @include font-style-nunito(rgba(0, 0, 0, 0.87), 16px, center);
            margin: 50px auto 0 auto;
            border: 1px solid $background;
            border-radius: 4px;
            width: 326px;
            height: 52px;
            background-color: #F8F8F8;
            color: black;
        }
    
        input[type=file]::file-selector-button {
            font-weight: bold;
            padding: 0.5em;
            border: 1px solid rgba(0, 0, 0, 0.87);
            border-radius: 4px 0px 0px 4px;
            height: 52px;
            margin-right: 16px;
            @include font-style-nunito(rgba(0, 0, 0, 0.87), 16px, center);
            color: black;
        }
    
        .text_error {
            color: $red;
        }
    }
    

}


.skills_header {
    @include font-style-nunito(#000000, 40px, center);
    line-height: 40px;
    padding: 0 16px;
}


.hidden {
    display: none;
}


.successForm {
    min-height: 380px;
    padding: 140px 0 100px 0;

    #success-img {
        display: block;
        margin: 0 auto;
        padding-top: 60px;
    }

    
}


footer {
    display: none;
}

.footer-wrapper {
    border-top: 1px solid $background;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include font-style-nunito(#000000, 16px, start)
}

