@mixin font-style-nunito($color, $size, $align) {
    color: $color;
    font-size: $size;
    font-family: 'Nunito';
    font-weight: 400;
    text-align: $align;
    line-height: 26px;
}

@mixin yellow-button() {
    background: #F4E041;
    border-radius: 80px;
    width: 100px;
    height: 34px;
    @include font-style-nunito(#000000, 16px, center)
}


@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../fonts/Nunito-Regular.ttf) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width:576px) {
        max-width: 540px;
    }

    @media (min-width:768px) {
        max-width: 720px;
    }

    @media (min-width:992px) {
        max-width: 960px;
    }

    @media (min-width:1200px) {
        max-width: 1170px;
    }
}

body {
    background: #F8F8F8;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {

    @media (min-width: 1367px) {
        max-width: 1170px;
    }

    @media (min-width: 769px) {}

    @media (min-width: 360px) {}

    width: 100%;
}

.logo {
    padding: 17px 60px;
}

.menu {
    position: sticky;
    padding: 13px 60px;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 10px;

    &_link {
        color: black;
        @include font-style-nunito(#000000, 16px, center);
        vertical-align: sub;
        text-decoration: none;
    }

    &_button {
        @include yellow-button();
        // list-style: none;
    }
}

.subheader {
    min-height: 650px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/subheader_image.jpeg") center center/cover no-repeat;

    h1 {

        display: block;
        @include font-style-nunito(#FFFFFF, 40px, center);
        margin: 0 auto;
        padding-top: 164px;
        width: 380px;
        line-height: 40px;
    }

    &_additional {
        display: block;
        @include font-style-nunito(#FFFFFF, 16px, center);
        margin: 21px auto 0 auto;
        width: 380px;
        line-height: 26px;

    }

    &_button {
        cursor: pointer;
        padding-top: 50px;
        margin: 32px auto;
        padding-top: 4px;
        @include yellow-button();
    }
}

.getskills {
    .users_list {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;

        .userCard {
            width: 370px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
            margin-top: 20px;
            @include font-style-nunito(#000000, 16px, center);

            &_avatar {
                border-radius: 50%;
                margin: 0 auto;
                margin-top: 20px;
            }

            &_name {
                margin-top: 20px;
                text-align: center;
            }

            &_additional {
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    .add_more_btn {
        cursor: pointer;
        padding-top: 4px;
        margin: 50px auto 0 auto;
        @include yellow-button();
    }
}

.postskills {
    min-height: 740px;
    @include font-style-nunito(#000000, 40px, center);
}

.skills_header {
    padding-top: 140px;
    @include font-style-nunito(#000000, 40px, center);
}

form {
    width: 380px;
    margin: 0 auto;

    .name {
        margin: 50px auto 0 auto;
        border: 1px solid #D0CFCF;
        border-radius: 4px;
        width: 380px;
        height: 54px;
    }

    .name::placeholder {
        @include font-style-nunito(#7E7E7E, 16px, start);
        vertical-align: middle;
        // height: 50px;
        padding-left: 16px;
        line-height: 26px;
    }

    .phone_help {
        @include font-style-nunito(#7E7E7E, 12px, left);
        text-align: left;
        padding-left: 16px;
    }

    .radiogroup {
        margin: 25px auto 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include font-style-nunito(#000000, 16px, center);
        text-align: start;
        border-color: red;
    }

    // input[type="radio"] {
    //     height: 20px;
    //     width: 20px;
    //     margin-right: 12px;
    //     background-color: #ffa500;
    //     border-color: red;
    //     &:checked {
    //         color: red;
    //     }
    // }
    input:checked {
        border: 1px solid #00BDD3;
        background: #00BDD3;
    }

    input {
        appearance: none;
        outline: none;
        margin-right: 5px;
        position: relative;
        top: 4px;
        border: 1px solid #D0CFCF;
        appearance: none;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }



    .radioButton {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
}